*{
    margin:0;
    border:0;
    font-family:"poppins"
}

body{
    background-color:#f8f9fa;
}
nav img{
    width:150px;
}

nav{
    width:max-width;
    height: 12vh;
    padding: 2px 10px;
    background-color:white;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px lightgray;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width:30vw;
    height: 60vh;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    /* padding: 10px 20px; */
}
main img{
    height: 300px;
}
.card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
}
form h1{
    color:#1AB69D;
    margin-bottom: 20px;
}
input{
    background-color: transparent;
    width: 14vw;
    font-size: 15px;
}
input:focus{
    outline:none;
}
i{
    padding-left: 3px;
    padding-right: 3px;
    color:#16697a
}
p{
    font-size: 15px;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color:#1AB69D;
}
form .namediv,.passdiv{
    width: 18vw;
    padding: 8px 5px;
    background-color: #eff7f6;
    margin: 5px;
    border-radius: 5px;
    border:2px solid transparent;
}
form .namediv:has(input:focus),.passdiv:has(input:focus){
    border: 2px solid #1AB69D;
}
.card button{
    margin-top: 20px;
    background-color: #1AB69D;
    color:white;
    border-radius: 6px;
    padding:7px 20px;
    font-size: 15px;
    font-weight:600;
    cursor: pointer;
}
.card button:hover{
    background-color:#00a896;
}

.toastcontainer{
    top: 5px;
}